.dialog{
    background-color: rgb(71, 69, 69, 0.6);
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0px;
    top: 0px;
}
.dialog-child{
    background-color: white;
    max-width: 800px;
    max-height: 800px;
    position: absolute;
    top: calc(50% - 400px);
    left: calc(50% - 400px);
}
.tab-close{
    text-align: right;
    margin: 8px;
}
.title{
    padding: 20px;
    padding-left: 40px;
    font-size: 24px;
    font-weight: bold;
}
.parent-content{
    padding: 8px;
    padding-right: 30px;
}
.content-dialog{
    display: flex;
    padding: 8px;
}
.content-left{
    text-align: center;
    padding-left: 32px;
    padding-top: 8px;
}
.content-left img{
    width: 75%;
    border-radius: 50%;
    border: 1px solid black;
}
.content-right{
}
.content-name{
    padding-top: 20px;
}
.group-input{
    display: flex;
    margin-bottom: 8px;
}
.group-input .group{
    padding: 8px;
}
.group input{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid gray;
    outline: none;
    padding-left: 8px;
}
.group select{
    width: calc(100% + 12px);
    height: 44px;
    border-radius: 5px;
    outline: none;
}
.group-input .group label{
    padding-bottom: 8px;
    display: block;
}
.radio-sex{
    vertical-align: middle;
    margin-right: 8px;
}
.radio-sex span{
    vertical-align: middle;
}
.group-sex input{
    width: 20px;
    height: 20px;
    border-radius: 5px;
    border: 1px solid gray;
    outline: none;
    position: relative;
    top: 4px;
}
.group-sex div{
    padding-bottom: 8px;
    padding-top: 8px;
}

.content-down{
    padding: 8px;
    margin-left: 32px;
}
.footer{
    padding: 8px;
    padding-right: 20px;
    text-align: right;
    vertical-align: middle;
    background-color: rgb(184, 179, 179);
}
.button-delete{
    height: 40px;
    background: none;
    border: none;
    outline: none;
}
.button-save{
    height: 40px;
    border: 1px solid rgb(12, 97, 57);
    border-radius: 5px;
    vertical-align: middle;
    background-color: rgb(12, 97, 57);
    outline: none;
}
.button-save span{
    vertical-align: middle;
}
.button-save i{
    font-size: 25px;
}
.wight-1-3{
    width: 33.333333333333333333333333333333333%;
}
.wight-1-2{
    width: 50%;
}
.wight-2-3{
    width: 66.6666666666666666666666666666666667%;
}
.wight-full{
    width: 100%;
}